# Data Types

## Vector and Matrix

**Video lecture: https://youtu.be/e93cGumfNA0**

Topics covered in this video are vector, matrix/array, solving linear equation in R, singular value decomposition in R, QR decomposition in R.

## List, Dataframe and Factor

**Video lecture: https://youtu.be/AT34XxaV1zE**

### List

- The components used to form the list are copied when forming the new list and the originals are not affected.

In [1]:
lst <- list(name="Fred", wife="Mary", no.children=3, child.ages=c(4,7,9))

In [2]:
lst

$name
[1] "Fred"

$wife
[1] "Mary"

$no.children
[1] 3

$child.ages
[1] 4 7 9

In [3]:
lst$name

[1] "Fred"

In [4]:
lst[[4]][1]

[1] 4

In [5]:
lst[["no.children"]]

[1] 3

In [6]:
n = "child.ages"
lst[[n]]

[1] 4 7 9

In [7]:
lst[1]

$name
[1] "Fred"

In [8]:
lst[1] = "Freddy"
lst[1]

$name
[1] "Freddy"

In [9]:
lst[[1]]

[1] "Freddy"

In [10]:
lst[["name"]]

[1] "Freddy"

In [11]:
lst[[1]] = "Froggy"
lst[1]

$name
[1] "Froggy"

In [12]:
lst[[1]]

[1] "Froggy"

Names of each list component is abbreviated to the minimum characters needed.

In [13]:
lst$na

[1] "Froggy"

In [14]:
lst$no

[1] 3

List without component names:

In [15]:
lst2 = list(11, 22, 33, 44, c(551, 552, 553))

In [16]:
lst2

[[1]]
[1] 11

[[2]]
[1] 22

[[3]]
[1] 33

[[4]]
[1] 44

[[5]]
[1] 551 552 553

In [17]:
lst2[1]

[[1]]
[1] 11

In [18]:
lst2[1] = 111
lst2[1]

[[1]]
[1] 111

### Data Frame

In [19]:
dframe <- data.frame (
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Add a new row
new_dframe <- rbind(dframe, list(Training="Force", Duration=110, Pulse=100))

# Print the new row
new_dframe

  Training Pulse Duration
1 Strength 100    60
2 Stamina  150    30
3 Other    120    45
4 Force    100   110

In [20]:
new_dframe[1:2,]

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30

In [21]:
new_dframe[,2:3]

  Pulse Duration
1 100    60
2 150    30
3 120    45
4 100   110

In [22]:
new_dframe$Training

[1] "Strength" "Stamina"  "Other"    "Force"

In [23]:
dim(new_dframe)

[1] 4 3

In [24]:
dim(new_dframe)[1]

[1] 4

In [25]:
dim(new_dframe)[2]

[1] 3

### Factor

In [26]:
music = c("Jazz", "Rock", "Classic", "Classic", "Pop", "Jazz", "Rock", "Jazz")
music_factors = factor(music)
music_factors

[1] Jazz    Rock    Classic Classic Pop     Jazz    Rock    Jazz
Levels: Classic Jazz Pop Rock

In [27]:
lvls = levels(music_factors)
lvls

[1] "Classic" "Jazz"    "Pop"     "Rock"

In [28]:
nlevels(music_factors)

[1] 4